/* COMMON
   ======================= */
   /* graphics */
.main-colors {
    background-color: #d27474;
    color: white;
}
.palindrome {
    filter: invert(1);
}

   /* spacing */
.pb-20 {
    padding-bottom: 20px;
}

/* ======================= */

/* MACRO LAYOUT
   ======================= */
header {
    padding-bottom: 40px;
}

/* ======================= */

/* MICRO LAYOUT
   ======================= */
   /* header */
h1 span {
    transform: scale(-1);
}

   /* main */
input {
    border-color: rgba(211, 211, 211,0.8);
    padding: 3px;
}
#showIfPal {
    padding: 10px;
    background-color: aliceblue;
    border: none;
}

#output span {
    padding: 10px;
    font-size: 130%;
    font-weight: 600;
}

/* ======================= */