/* COMMON
   ======================= */

/* ======================= */

/* MACRO LAYOUT
   ======================= */
body {
    text-align: center;
}

main {
    padding-top: 40px;
}

/* ======================= */

/* MICRO LAYOUT
   ======================= */
h1,
h1 span {
    background-color: #d27474;
    color: white;
    text-align: center;
}

h1 span {
    display: block;
    filter: invert(1);
    transform: scale(-1);
}

label {
    display: block;
    padding-bottom: 20px;
}

#output {
    padding-top: 20px;
}

#output .marked {
    background-color: #d27474;
    color: white;
    padding: 10px;
    font-size: 130%;
    font-weight: 600;
}

/* ======================= */